public_html/dtd/package-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Greg Beaver (The Chiara String Quartet) -->
<xs:schema targetNamespace="http://pear.php.net/dtd/package-2.0" elementFormDefault="qualified" xml:lang="EN" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://pear.php.net/dtd/package-2.0">
 <xs:element name="package">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="name"/>
    <xs:element ref="extends" minOccurs="0"/>
    <xs:element ref="summary"/>
    <xs:element ref="description"/>
    <xs:element ref="lead" maxOccurs="unbounded"/>
    <xs:element ref="maintainer" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="date"/>
    <xs:element ref="version"/>
    <xs:element ref="stability"/>
    <xs:element ref="license"/>
    <xs:element ref="notes"/>
    <xs:element ref="contents"/>
    <xs:element name="compatibility" minOccurs="0" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>
       <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="package" type="xs:string" use="required"/>
      <xs:attribute name="channel" type="xs:string" use="required"/>
      <xs:attribute name="min" type="version" use="required"/>
      <xs:attribute name="max" type="version" use="required"/>
     </xs:complexType>
    </xs:element>
    <xs:element ref="dependencies" minOccurs="0"/>
    <xs:choice>
     <xs:element ref="phprelease" maxOccurs="unbounded"/>
     <xs:element ref="extsrcrelease" maxOccurs="unbounded"/>
     <xs:element ref="extbinrelease" maxOccurs="unbounded"/>
     <xs:element ref="bundle" maxOccurs="unbounded"/>
    </xs:choice>
    <xs:element ref="changelog" minOccurs="0"/>
   </xs:sequence>
   <xs:attribute name="version" type="xs:string" fixed="2.0"/>
   <xs:attribute name="pearversion" type="version"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="name">
  <xs:complexType>
   <xs:simpleContent>
    <xs:extension base="xs:string">
     <xs:attribute name="channel" type="xs:string" use="required"/>
    </xs:extension>
   </xs:simpleContent>
  </xs:complexType>
 </xs:element>
 <xs:element name="summary" type="xs:string"/>
 <xs:element name="description" type="xs:string"/>
 <xs:element name="lead">
  <xs:complexType>
   <xs:attributeGroup ref="maintainer"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="maintainer">
  <xs:complexType>
   <xs:attribute name="role" use="required">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="developer"/>
      <xs:enumeration value="contributor"/>
      <xs:enumeration value="helper"/>
      <xs:enumeration value="documentor"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attributeGroup ref="maintainer"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="date">
  <xs:complexType>
   <xs:simpleContent>
    <xs:extension base="xs:date">
     <xs:attribute name="time" type="xs:time"/>
    </xs:extension>
   </xs:simpleContent>
  </xs:complexType>
 </xs:element>
 <xs:element name="version">
  <xs:complexType>
   <xs:attribute name="api" type="version" use="required"/>
   <xs:attribute name="package" type="version" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="license">
  <xs:complexType>
   <xs:simpleContent>
    <xs:extension base="xs:string">
     <xs:attribute name="uri" type="xs:anyURI"/>
     <xs:attribute name="filesource" type="xs:string"/>
    </xs:extension>
   </xs:simpleContent>
  </xs:complexType>
 </xs:element>
 <xs:element name="stability">
  <xs:complexType>
   <xs:attribute name="api" use="required">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="stable"/>
      <xs:enumeration value="beta"/>
      <xs:enumeration value="alpha"/>
      <xs:enumeration value="devel"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name="package" use="required">
    <xs:simpleType>
     <xs:restriction base="xs:string">
      <xs:enumeration value="stable"/>
      <xs:enumeration value="beta"/>
      <xs:enumeration value="alpha"/>
      <xs:enumeration value="devel"/>
      <xs:enumeration value="snapshot"/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>
 <xs:element name="notes" type="xs:string"/>
 <xs:element name="contents">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="dir" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="dir">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="dir" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="baseinstalldir" type="xs:string"/>
   <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="file">
  <xs:complexType>
   <xs:choice>
    <xs:any namespace="http://pear.php.net/dtd/tasks-1.0" minOccurs="0" maxOccurs="unbounded"/>
   </xs:choice>
   <xs:attribute name="name" type="xs:string" use="required"/>
   <xs:attribute name="role" type="xs:string" use="required"/>
   <xs:attribute name="baseinstalldir" type="xs:string"/>
   <xs:attribute name="md5sum" type="xs:string"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="install">
  <xs:complexType>
   <xs:attribute name="name" type="xs:string" use="required"/>
   <xs:attribute name="as" type="xs:string"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="ignore">
  <xs:complexType>
   <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="phprelease">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="installconditions"/>
    <xs:element ref="filelist"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="extsrcrelease">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="installconditions"/>
    <xs:element ref="filelist"/>
    <xs:element ref="configureoption" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="extbinrelease">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="installconditions"/>
    <xs:element ref="filelist"/>
    <xs:element ref="configureoption" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="bundle">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="installconditions" minOccurs="0"/>
    <xs:element ref="filelist"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="filelist">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="install" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="ignore" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="dependencies">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="required" minOccurs="0"/>
    <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="required">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="php"/>
    <xs:element ref="pearinstaller"/>
    <xs:element name="package" minOccurs="0" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>
       <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="channel" type="xs:string"/>
      <xs:attribute name="url" type="xs:anyURI"/>
      <xs:attribute name="min" type="version"/>
      <xs:attribute name="max" type="version"/>
      <xs:attribute name="recommended" type="version"/>
      <xs:attribute name="not" type="xs:boolean" default="false"/>
     </xs:complexType>
    </xs:element>
    <xs:element ref="extension" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="os" minOccurs="0" maxOccurs="unbounded">
     <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="not" type="xs:boolean" default="false"/>
     </xs:complexType>
    </xs:element>
    <xs:element ref="arch" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="group">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="package" minOccurs="0" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>
       <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="channel" type="xs:string" use="required"/>
      <xs:attribute name="min" type="version"/>
      <xs:attribute name="max" type="version"/>
      <xs:attribute name="recommended" type="version" use="required"/>
     </xs:complexType>
    </xs:element>
    <xs:element ref="extension" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="name" type="xs:string" use="required"/>
   <xs:attribute name="hint" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="changelog">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="lead" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="maintainer" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element ref="date"/>
    <xs:element ref="version"/>
    <xs:element ref="stability"/>
    <xs:element ref="license"/>
    <xs:element ref="notes"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:attributeGroup name="maintainer">
  <xs:attribute name="user" type="xs:string" use="required"/>
  <xs:attribute name="email" type="xs:string" use="required"/>
  <xs:attribute name="name" type="xs:string" use="required"/>
  <xs:attribute name="active" use="required">
   <xs:simpleType>
    <xs:restriction base="xs:string">
     <xs:enumeration value="yes"/>
     <xs:enumeration value="no"/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
 </xs:attributeGroup>
 <xs:simpleType name="version">
  <xs:annotation>
   <xs:documentation>version string regex</xs:documentation>
  </xs:annotation>
  <xs:restriction base="xs:string">
   <xs:pattern value="[0-9]+(\.[0-9]+)*([a-zA-Z]+[0-9]*)?"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:element name="extension">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="name" type="xs:string" use="required"/>
   <xs:attribute name="channel" type="xs:string"/>
   <xs:attribute name="min" type="version"/>
   <xs:attribute name="max" type="version"/>
   <xs:attribute name="recommended" type="version"/>
   <xs:attribute name="not" type="xs:boolean" default="false"/>
   <xs:attribute name="url" type="xs:anyURI"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="pearinstaller">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="min" type="version" use="required"/>
   <xs:attribute name="max" type="version"/>
   <xs:attribute name="recommended" type="version"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="php">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
   </xs:sequence>
   <xs:attribute name="min" type="version" use="required"/>
   <xs:attribute name="max" type="version" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="installconditions">
  <xs:complexType>
   <xs:sequence>
    <xs:element ref="php" minOccurs="0"/>
    <xs:element name="package" minOccurs="0" maxOccurs="unbounded">
     <xs:complexType>
      <xs:sequence>
       <xs:element ref="exclude" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="channel" type="xs:string" use="required"/>
      <xs:attribute name="min" type="version"/>
      <xs:attribute name="max" type="version"/>
      <xs:attribute name="not" type="xs:boolean" default="false"/>
     </xs:complexType>
    </xs:element>
    <xs:element ref="extension" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="os" minOccurs="0">
     <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="not" type="xs:boolean" default="false"/>
     </xs:complexType>
    </xs:element>
    <xs:element ref="arch" minOccurs="0"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name="exclude">
  <xs:complexType>
   <xs:attribute name="version" type="version" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="configureoption">
  <xs:complexType>
   <xs:attribute name="name" type="xs:string" use="required"/>
   <xs:attribute name="default" type="xs:string"/>
   <xs:attribute name="prompt" type="xs:string" use="required"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="arch">
  <xs:complexType>
   <xs:attribute name="pattern" type="xs:string" use="required"/>
   <xs:attribute name="not" type="xs:boolean" default="false"/>
  </xs:complexType>
 </xs:element>
 <xs:element name="extends" type="xs:string"/>
</xs:schema>
